@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

/* Global Styles */ 





/* --------------------------------- */ 



/* Utilities */ 


/* --------------------------------- */ 


/* navbar */
.navbar {
  background: #eae9d6;
  opacity: 0.9;
  box-shadow: 2px 2px 5px #292b2c;
  
}

.navbar .nav-item {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 1.4rem;
  
}



/* --------------------------------- */ 



/* showcase */ 
.showcase-container {
  min-height: 500px;
  min-width: auto;

  background-image: url('/bg.jpg');
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.showcase-overlay { 

  /* btn center of showcase using flex */ 
  display: flex;
  justify-content: center;
  align-items: center;

  /* showcase overlay */ 
  min-height: 500px;
  min-width: auto;
  background:rgba(0,0,0,0.3);
}

.showcase-btn {
  background: #e4a133;
  border: 1px solid #e4a133;
  margin: 20px;
  padding: 12px;
  font-family: 'Montserrat Subrayada', sans-serif;
}




/* Character Card Design */

.card-font {
  font-family: 'Istok Web', sans-serif;
  font-size: 20px;
}

.character-card {
  min-height: 320px;
  max-height: 320px;
  background-color: #eae9d6;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}



.character-img {
  margin-top: -50px;
  margin-bottom: 5px;

}

.character-name {
  font-family: 'Istok Web', sans-serif;
  font-size: 36px;
  margin-bottom: 5px;

}
.character-element-text {
  font-family: 'Istok Web', sans-serif;
  
}

.character-element-icon {
  height: 40px;
  width: 40px;
}

/* Card Animation */



/* About Section */ 


#about-img{
  background: url('/about_img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.page-border {
  height: 35px;
  width: 100vw;
  background-color: #eae9d6;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  border: .5px solid #292b2c; 
  /* opacity: 0.5; */
}

a link:hover {
  text-decoration: none;
}

.accordion-title {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-decoration: none;
  color: #292b2c;
}

.accordion-body-text {
  font-family: 'Istok Web', sans-serif;
  color: #292b2c;
}
